@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ASP.NET MVC C# 網站後端工程師</h2>
    <h4>永慶房產集團_永慶房屋仲介股份有限公司</h4>
    <p class="lead">
        <h6>永慶資訊團隊運用創新的技術，開發出領導業界並多項獲獎的應用產品，致力於創造最佳的使用者體驗和服務。</h6>
        <h6>我們正在尋求充滿熱情、創造力和創新的開發人才加入我們。</h6>
        <h6>目前我們資訊團隊已達百人以上規模，而我們高度重視每個人的分享與成長，不定期舉辦「技術分享」活動，讓彼此教學相長；</h6>
        <h6>.NET Framework、.NET Core、C# 和 Git 等程式語言與工具進行開發及版本控管，並透過 CI/CD 持續建置整合與佈署到 VM 與 Docker 環境；</h6>
        <h6>而在大型資訊設備上，我們擁有多座高效的資料庫伺服器，高效能的設備協助我們高效率、高品質的工作質量；</h6>
        <h6>我們有舒適的辦公環境、有優越的設備、有完善的數據資料、有創新的技術，但這一切還不足夠，我們還需要您的加入，讓我們一起來創造不簡單！</h6>
    </p>
    <p><a href="https://www.104.com.tw/job/5koka?jobsource=pda" class="btn btn-primary btn-lg">104連結 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>工作職責</h4>
        <p>
            <h6>- 熱衷於程式開發、架構規劃與模組建構</h6>
            <h6>- 與設計師、前端工程師及產品企劃合作完成專案開發</h6>
            <h6>- 善用技術知識與具備良好的溝通能力</h6>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>相關應用技術：</h4>
        <p>
            <h6>- 使用 C# 程式語言開發</h6>
            <h6>- 運用 ASP.NET Framework MVC、ASP.NET Core MVC、Web API 架構</h6>
            <h6>- 運用 Dapper、Entity Framework等 ORM 框架</h6>
            <h6>- 採用 TDD、DDD、DI、IoC、分層設計等開發方法論</h6>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>公司福利：</h4>
        <p>
            <h6>- 提供免費咖啡、遊樂設施 (電子飛鏢)、書籍讀物區、舒壓電動按摩椅</h6>
            <h6>- 除法定勞工保險及全民健保外，另提供員工及眷屬完善的醫療團體保險</h6>
            <h6>- 結婚、生育、住院及喪葬等慰問金</h6>
            <h6>- 年終獎金、三節禮金、禮券、生日津貼、每月200元販賣機點心補助</h6>
            <h6>- 提供員工協助方案：專業醫護人員職場照護、不定期健康講座</h6>
            <h6>- 完善的內部員工教育訓練</h6>
            <h6>- 多元化的員工旅遊行程</h6>
            <h6>- 年終尾牙餐聚 (可邀請眷屬) 及提供免費返鄉專車</h6>
            <h6>- 健康生活，多類型運動趣味競賽</h6>
            <h6>- 部門不定期舉辦免費包場電影、聚餐活動</h6>
        </p>
    </div>
</div>
