@{
    ViewBag.Title = "Self Resume";
}
<h2>@ViewBag.Title.</h2>

<address>
    Hi，我是鄭景鴻，可以叫我Alexander。<br />
    個性謙和樂觀，待人和善，樂於學習新事物，勇於挑戰。<br />
    具有策劃、執行能力，大學時擔任系學會副會長，參與或聯合舉辦多數活動。<br />
    <br />
    ===========================================<br />
    <strong>Phone:</strong><br />
    &emsp;0976-772-687<br />
    <strong>Adress:</strong><br />
    &emsp;新北市板橋區仁翠里3鄰裕民街56巷15號4樓<br />
    ===========================================<br />
    <strong>Learning Experience:</strong><br />
    <br />
    &emsp;私立龍華科技大學&emsp;畢業<br />
    &emsp;&emsp;資訊網路工程系<br />
    <br />
    &emsp;新北市立淡水商工&emsp;肄業<br />
    &emsp;&emsp;資訊科<br />
    <br />
    ===========================================<br />
    <strong>Work Experience:</strong><br />
    <br />
    &emsp;<font size=3>敦陽科技股份有限公司</font>&emsp;<font size=2>軟體工程師</font>&emsp;<font size=2>全職</font><br />
    &emsp;&emsp;<font size=2>2022年10月~2023年10月(在職中 合約至10月)</font><br />
    <br />
    &emsp;<font size=3>泉竣科技有限公司</font>&emsp;<font size=2>軟體開發工程師</font>&emsp;<font size=2>全職</font><br />
    &emsp;&emsp;<font size=2>2022年4月~2022年9月</font><br />
    <br />
    &emsp;<font size=3>優利工程行</font>&emsp;<font size=2>軟體工程師</font>&emsp;<font size=2>全職</font><br />
    &emsp;&emsp;<font size=2>2020年9月~2022年3月</font><br />
    <br />
    ===========================================<br />
    <strong>Language Ability:</strong><br />
    <br />
    &emsp;<font size=3>日文</font><br />
    &emsp;&emsp;<font size=2>聽/略懂 | 說/略懂 | 讀/中等 | 寫/略懂</font><br />
    <br />
    &emsp;<font size=3>英文</font><br />
    &emsp;&emsp;<font size=2>聽/略懂 | 說/略懂 | 讀/中等 | 寫/略懂</font><br />
    <br />
    ===========================================<br />
    <strong>License:</strong><br />
    <br />
    &emsp;<font size=3>職訓局</font><br />
    &emsp;&emsp;<font size=2>丙級電腦軟體應用技術士丙級電腦硬體裝修技術士</font><br />
    <br />
    &emsp;<font size=3>其他證照</font><br />
    &emsp;&emsp;<font size=2>98-381:MTA: Introduction to Programming using Python</font><br />
    <br />
</address>

<address>
    <strong>Facebook:</strong> <a class="" href="https://www.facebook.com/profile.php?id=100002605676668">Alexander Cheng</a><br />
    <strong>Instagram:</strong> <a href="https://www.instagram.com/alexander17_4_6/">alexander19980415</a><br />
    <strong>PersonalMail:</strong> <a href="mailto:yoru0415@gmail.com">yoru0415@gmail.com</a><br />
</address>
